<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>
<form method="post" style="max-width:600px;" th:object="${addBooking}">
    <div>
        <label th:for="company">Company Name</label>
        <input class="form-control" th:field="*{company}" th:value="${addBooking.company}" />
        <span th:errors="*{company}" class="error"></span>

        <label th:for="booking_Date">Booking Date</label>
        <input type="date" class="form-control" th:field="*{booking_Date}" th:value="${addBooking.booking_Date}" />
        <span th:errors="*{booking_Date}" class="error"></span>

        <label th:for="street">Street</label>
        <input class="form-control" th:field="*{street}" th:value="${addBooking.street}" />
        <span th:errors="*{street}" class="error"></span>

        <label th:for="city">City</label>
        <input class="form-control" th:field="*{city}" th:value="${addBooking.city}" />
        <span th:errors="*{city}" class="error"></span>

        <label th:for="state">State</label>
        <select th:field="*{state}" value="${addBooking.state}">
                <option value=""></option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
        </select>
        <span th:errors="*{state}" class="error"></span>


        <label th:for="zip_Code">ZIP Code</label>
        <input class="form-control" th:field="*{zip_Code}" th:value="${addBooking.zip_Code}" />
        <span th:errors="*{zip_Code}" class="error"></span>
    </div>
    <input type="submit" value="Add Booking"/>
</form>

</body>
</html>