<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Weekend Warrior</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:fragment="navigation">
    <a href="/">Wrestlers</a>
    <div th:unless="${user}">
        <a href="/login">Login</a>
        <a href="/registration">Register</a>
    </div>
    <div th:if="${user}">
        <a href="/logout">Logout</a>
    </div>

</nav>

</body>


</html>