<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head  th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>

<p th:unless="${wrestlers} and ${wrestlers.size()}">No wrestlers found</p>


<table th:if="${wrestlers} and ${wrestlers.size()}"  class="table">

    <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Hometown</th>
        <!-- <th>&nbsp;</th> -->
    </tr>
    <tr th:each="wrestler : ${wrestlers}">
        <td ><a th:href="@{|/wrestler/view/${wrestler.id}|}" th:text="${wrestler.name}"></a></td>
        <td th:text="${wrestler.totalHeight}"></td>
        <td th:text="${wrestler.weight}"></td>
        <td th:text="@{|${wrestler.city}, ${wrestler.state}|}"></td>
    </tr>

</table>

</body>

</html>